.actions {
	margin-bottom: 100px;
	text-align: center;

	@media (min-width: $desktop-width) {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		text-align: left;
		padding-left: 158px;
		padding-right: 127px;
		margin-bottom: 170px;
	}
}

.actions__wrapper {
	@media (min-width: $desktop-width) {
		width: 440px;
	}
}

.actions__image {
	display: block;
	margin-bottom: 25px;
	width: 288px;
	height: 170px;

	@media (min-width: $tablet-width) {
		width: 453px;
		height: 323px;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	@media (min-width: $desktop-width) {
		width: 697px;
		height: 410px;
	}
}

.actions__title {
	@include reset();
	position: relative;
	margin-right: 40px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	line-height: 34px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	font-weight: normal;
	
	@media (min-width: $tablet-width) {
		font-size: 30px;
		margin-bottom: 55px;
		padding-bottom: 15px;
	}

	@media (min-width: $desktop-width) {
		line-height: 51px;
		margin-bottom: 25px;
	}

	&:after {
		@include pseudo();
		width: 85px;
		height: 2px;
		background-color: #ffffff;
		top: auto;
		bottom: 0;

		@media (min-width: $tablet-width) {
			left: 50%;
			transform: translateX(-50%);
		}

		@media (min-width: $desktop-width) {
			left: 0;
			transform: none;
		}
	}
}

.actions__description {
	@include reset();
	margin-bottom: 40px;
	font-size: 14px;
	line-height: 24px;

	@media (min-width: $tablet-width) {
		width: 460px;
		margin: 0 auto;
		margin-bottom: 15px;
	}

	@media (min-width: $desktop-width) {
		width: auto;
		margin-bottom: 45px;
	}
}

.actions__button {
	background-color: #010001;
}