.catalog-main {
	margin-bottom: 100px;

	@media (min-width: $tablet-width) {
		text-align: center;
	}
}

.catalog-main__list {
	@include reset-list();
	position: relative;
	min-height: 392px;
	margin-bottom: 20px;

	@media (min-width: $tablet-width) {
		min-height: 450px;
		margin-bottom: 30px;
	}
}

.catalog-main__title {
	@include reset();
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 0.06em;
	font-weight: normal;

	@media (min-width: $tablet-width) {
		position: relative;
		margin-bottom: 30px;
		padding-bottom: 22px;
		font-size: 30px;

		&::after {
			@include pseudo();
			width: 85px;
			height: 2px;
			top: auto;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			background-color: #ffffff;
		}
	}
}

.catalog-main__wrapper {
	@media (min-width: $tablet-width) {
		position: absolute;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}

.catalog-main__item {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 392px;
	width: 288px;
	background-repeat: no-repeat;

	@media (min-width: $tablet-width) {
		position: static;
		min-height: 450px;
		width: 330px;
	}
}

.catalog-main__item--1 {
	background-image: url("../img/catalog-1-mobile.jpg");

	@media (min-width: $tablet-width) {
		background-image: url("../img/catalog-1-tablet.jpg");
	}
}

.catalog-main__item--2 {
	display: none;
	
	@media (min-width: $tablet-width) {
		display: block;
		background-image: url("../img/catalog-2-tablet.jpg");
	}
}

.catalog-main__link {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding-top: 23px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;

	@media (min-width: $tablet-width) {
		padding-top: 42px;
		text-align: left;
	}
}

.catalog-main__number {
	@include reset();
	position: relative;
	padding-left: 80px;
	font-size: 20px;

	&:before {
		@include pseudo();
		background-color: #ffffff;
		top: 10px;
		width: 70px;
		height: 1px;

		@media (min-width: $tablet-width) {
			left: 32px;
		}
	}

	@media (min-width: $tablet-width) {
		padding-left: 0;
		padding-right: 62px;
	}
}

.catalog-main__text {
	@include reset();
	opacity: 0.9;
	letter-spacing: 0.1em;
	line-height: 27px;
	font-size: 16px;
}

.catalog-main__pagination {
	@include reset-list();
	display: flex;
	justify-content: space-between;

	@media (min-width: $tablet-width) {
		width: 138px;
		margin: 0 auto;
	}
}

.catalog-main__pagination-item {
	line-height: 0;
	font-size: 0;
}

.catalog-main__pagination-item--3,
.catalog-main__pagination-item--4 {
	@media (min-width: $tablet-width) {
		display: none;
	}
}

.catalog-main__pagination-button {
	font-size: 0;
	width: 62px;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	border-radius: 50px;
	cursor: pointer;

	&:hover {
		background-color: rgba(255, 255, 255, 0.5);
	}

	&:active {
		background-color: rgba(255, 255, 255, 0.5);
	}
}

.catalog-main__pagination-button--active {
	background-color: #ffffff;
}