.inner__main-image {
	display: block;
}

.inner__title {
	@include reset();
	margin-top: 30px;
	margin-right: 50px;
	margin-left: 20px;
	margin-bottom: 30px;
	font-weight: normal;
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 0.09em;
	text-transform: uppercase;
}

.inner__text {
	@include reset();
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 22px;
}

.inner__order-button {
	border: 1px solid #ffffff;
	margin-left: 20px;
	margin-bottom: 50px;
}