.intro {
	min-height: 363px;
	padding-top: 103px;
	background-image: url("../img/bg-main-mobile.jpg");
	background-repeat: no-repeat;
	text-align: center;
	padding-left: 35px;
	padding-right: 35px;

	@media (min-width: $tablet-width) {
		min-height: 693px;
		margin-top: -108px;
		padding-top: 331px;
		background-image: url("../img/bg-main-tablet.jpg");
	}

	@media (min-width: $desktop-width) {
		margin-top: -155px;
		padding-top: 323px;
		padding-left: 95px;
		padding-right: 97px;
		background-image: url("../img/bg-main-desktop.jpg");
	}
}

.intro__title {
	@include reset();
	margin-bottom: 35px;
	font-family: "Playfair Display";
	font-weight: normal;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 42px;

	@media (min-width: $tablet-width) {
		margin-bottom: 82px;
		font-family: Forum;
		font-size: 70px;
		line-height: 77px;
		letter-spacing: 0.09em;
	}

	@media (min-width: $desktop-width) {
		width: 814px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 80px;
		font-size: 120px;
		line-height: 132px;
	}
}

.intro__link {
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid #ffffff;
	box-sizing: border-box;
	margin-bottom: 70px;

	@media (min-width: $tablet-width) {
		margin-bottom: 211px;
	}

	@media (min-width: $desktop-width) {
		margin-bottom: 10px;
	}
}

.intro__down-link {
	display: block;
	width: 18px;
	height: 18px;
	background-size: 18px 18px;	
	color: #ffffff;
	font-size: 0;
	background-image: url("../img/ico-arrow.svg");
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 auto;

	@media (min-width: $tablet-width) {
		width: 29px;
		height: 29px;
		background-size: 29px 29px;
	}

	@media (min-width: $desktop-width) {
		margin: 0;
		width: 210px;
		height: auto;
		padding-right: 30px;
		transform: rotate(90deg) translateX(80px) translateY(-100px);
		font-size: 20px;
		line-height: 22px;
		text-decoration: none;
		letter-spacing: 0.06em;
		background-image: none;
		
		&::after {
			@include pseudo();
			background-image: url("../img/ico-arrow.svg");
			width: 22px;
			height: 22px;
			background-repeat: no-repeat;
			top: -5px;
			right: 0;
			left: auto;
			transform: rotate(-90deg);
		}
	}
}

.intro__down-link--desktop {
	display: none;
	
	@media (min-width: $desktop-width) {
		position: absolute;
		display: block;
		width: 56px;
		height: 36px;
		border-radius: 22px;
		border: 1px solid #ffffff;
		left: 130px;
		bottom: -855px;

		&::after {
			@include pseudo();
			width: 10px;
			height: 1px;
			background-color: #ffffff;
			top: 50%;
			left: 10px;
		}
	}
}

.intro__down-link:hover .intro__down-link--desktop::after {
	@media (min-width: $desktop-width) {
		left: 20px;
	}
}

.intro__wrapper {
	@media (min-width: $desktop-width) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}