.intro {
	min-height: 363px;
	padding-top: 103px;
	background-image: url("../img/bg-main-mobile.jpg");
	background-repeat: no-repeat;
	text-align: center;
	padding-left: 35px;
	padding-right: 35px;
}

.intro__title {
	@include reset();
	margin-bottom: 35px;
	font-family: "Playfair Display";
	font-weight: normal;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 42px;
}

.intro__link {
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid #ffffff;
	box-sizing: border-box;
	margin-bottom: 70px;
}

.intro__down-link {
	display: block;
	background-image: url("../img/ico-arrow.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 18px 18px;	
	color: #ffffff;
	font-size: 0;
}