.main-logo {
	display: block;
	width: 96px;
	height: 29px;
	margin-bottom: 20px;

	@media (min-width: $tablet-width) {
		width: 120px;
		height: 47px;
	}
}

.main-logo--left {
	margin-left: 16px; 

	@media (min-width: $tablet-width) {
		margin-left: 50px;
	}

	@media (min-width: $desktop-width) {
		margin-left: 96px;
	}
}

.main-logo--center {
	margin-left: auto;
	margin-right: auto;

	@media (min-width: $tablet-width) {
		margin-top: 112px;
	}
}

.main-logo__image {
	display: block;
	width: 96px;
	height: 29px;

	@media (min-width: $tablet-width) {
		width: 137px;
		height: 47px;
	}
}