.page-footer {
	padding-left: 36px;
	padding-right: 36px;
	padding-bottom: 20px;

	@media (min-width: $tablet-width) {
		padding-left: 21px;
		padding-right: 21px;
		padding-bottom: 40px;
	}

	@media (min-width: $desktop-width) {
		padding-bottom: 30px;
	}
}

.page-footer--inner {
	@media (min-width: $desktop-width) {
		display: none;
	}
}

