.page-main {
	padding-top: 100px;
	padding-left: 16px;
	padding-right: 15px;

	@media (min-width: $tablet-width) {
		padding-left: 40px;
		padding-right: 40px;
	}

	 @media (min-width: $desktop-width){
	 	padding-top: 170px;
	 	padding-left: 215px;
	 	padding-right: 205px;
	 }
}

.page-main__inner {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}