@font-face {
	font-family: "Forum", sans-serif;
	font-weight: normal;
	font-display: swap;
	src: "url(forum-regular.woff2)",
		"url(forum-regular.woff)";
}

@font-face {
	font-family: "Playfair Display", serif;
	font-weight: normal;
	font-display: swap;
	src: "url(playfairdisplaysc-regular.woff2)",
		"url(playfairdisplaysc-regular.woff)";
}

body {
	margin: 0 auto;
	width: $mobile-width;
	color: #ffffff;
	background-color: $maroon-bg;
	font-family: "Forum", sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;

	@media (min-width: $tablet-width) {
		width: $tablet-width;
	}

	@media (min-width: $desktop-width) {
		width: $desktop-width;
	}
}

.visually-hidden {
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
	border: 0;
	padding: 0;
	position: absolute;
}