@font-face {
	font-family: "Forum", sans-serif;
	font-weight: normal;
	src: "url(forum-regular.woff2)",
		"url(forum-regular.woff)";
}

@font-face {
	font-family: "Playfair Display", serif;
	font-weight: normal;
	src: "url(playfairdisplaysc-regular.woff2)",
		"url(playfairdisplaysc-regular.woff)";
}

body {
	margin: 0 auto;
	width: $mobile-width;
	color: #ffffff;
	background-color: $maroon-bg;
	font-family: "Forum", sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
}